/* Template Variables for CSS Properties ====================================================================================*/
:root {
/* Colours */
  --smokey-black: hsl(0, 0%, 7%);
  --eerie-black: hsl(0, 0%, 9%);
  --darker-eerie-black: hsl(0, 0%, 7%);
  --radical-red: hsl(346, 100%, 58%);
  --white_a9: hsla(0, 0%, 100%, 0.09);
  --white_a15: hsla(0, 0%, 100%, 0.15);
  --white_a25: hsla(0, 0%, 100%, 0.25);
  --white_a50: hsla(0, 0%, 100%, 0.5);
  --white_a70: hsla(0, 0%, 100%, 0.7);
  --white_a75: hsla(0, 0%, 100%, 0.75);
  --white_a80: hsla(0, 0%, 100%, 0.8);
  --jet-1: hsl(0, 0%, 20%);
  --jet-2: hsl(0, 0%, 16%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);


/* Gradient Colours */
  --gradient-1: linear-gradient(180deg, transparent, var(--smokey-black));
  --gradient-2: linear-gradient(180deg,var(--smokey-black) 25%,hsla(0, 0%, 0%, 0.6) 80%);


/* Fonts and Size */
  --ff-recoleta: "Recoleta", serif;
  --ff-gordita: "Gordita", sans-serif;
  
  --fs-1: 6rem;
  --fs-2: 5rem;
  --fs-3: 3.8rem;
  --fs-4: 2.8rem;
  --fs-5: 2.6rem;
  --fs-6: 2.2rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.5rem;
  --fs-10: 1.4rem;
  --fs-11: 1.2rem;
  
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;


/* Spacing */
  --section-padding: 60px;


/* Shadows */
  --shadow: 0 12px 30px -10px hsla(0, 0%, 14%, 0.1);


/* Border radius */
  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-25: 25px;

/* Transitions */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

/* Cursor Information ====================================================================================*/
.cursor {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  background-color: var(--white);
  mix-blend-mode: exclusion;
  border-radius: var(--radius-circle);
  transform: translate(-50%, -50%) scale(0.35);
  transition: transform 0.35s;
  pointer-events: none;
  z-index: 6;
}

.cursor.hovered {
  transform: translate(-50%, -50%) scale(1.2);
}

.cursor.disabled {
  transform: translate(-50%, -50%) scale(0);
}

/* Standard Parameters for all HTML Elements ====================================================================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
img,
span,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-gordita);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--smokey-black);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: var(--fw-400);
  line-height: 2.15;
  overflow-x: hidden;
}

body.active { overflow: hidden; }

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: var(--white); }

::-webkit-scrollbar-thumb { background-color: var(--jet-2); }

.shape { display: none; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--ff-recoleta);
  line-height: 1.2;
}

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-400);
}

.h2,
.h3,
.h4,
.h5,
.h6 { font-weight: var(--fw-300); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.h4 { font-size: var(--fs-4); }

.h5 { font-size: var(--fs-5); }

.h6 { font-size: var(--fs-6); }

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--jet-1);
  overflow: hidden;
}

.has-before {
  position: relative;
  z-index: 1;
}

.has-before::before {
  content: "";
  position: absolute;
}

.img-holder.has-before::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: var(--gradient-1);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-icon {
  background-color: var(--bg-color, var(--white));
  border-radius: var(--border-radius, var(--radius-circle));
  display: grid;
  place-content: center;
  transition: var(--transition-2);
}

.btn-icon path { transition: var(--transition-2); }

.btn-icon:is(:hover, :focus-visible) {
  background-color: var(--hover-bg-color, var(--white));
}

.btn-icon:is(:hover, :focus-visible) path {
  stroke: var(--hover-text-color, var(--black));
}

.section-subtitle {
  color: var(--white_a25);
  font-size: var(--fs-7);
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

[data-reveal] {
  transform: translateY(50px);
  opacity: 0;
  transition: var(--transition-3);
}

[data-reveal="left"] { transform: translate(-50px, 0); }

[data-reveal="right"] { transform: translate(50px, 0); }

[data-reveal].revealed {
  transform: translate(0, 0);
  opacity: 1;
}



/* Loading CSS Properties ====================================================================================*/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 5;
  transform-origin: bottom;
  transition: 0.5s var(--cubic-in);
  transition-delay: 0.5s;
}

.loading.loaded {
  transform: scaleY(0);
  pointer-events: none;
}

.loading > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-2);
}

.loading.loaded > * { opacity: 0; }

.loading .circle { animation: rotate360 1.5s linear infinite; }

@keyframes rotate360 {
  0% { transform: translate(-50%, -50%) rotate(0); }
  100% { transform: translate(-50%, -50%) rotate(1turn); }
}



/* Header CSS Properties ==================================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 18px;
  transition: var(--transition-2);
  z-index: 4;
}

.header.active {
  background-color: var(--darker-eerie-black);
  padding-block: 12px;
  box-shadow: var(--shadow);
}

.navContainer{
  padding-inline: 30px;
}

.header .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar a {
  font-family: var(--ff-recoleta);
  text-align: center;
  font-size: 1.8em;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: background-color 0.3s, color 0.3s;
}

/* Home Container ================================================================================================ */
.home {
  position: relative;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, transparent, transparent 40%, hsl(0, 0%, 7%) 100%);
  z-index: 2;
}

.homeContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.textContent {
  flex: 1;
}

.nameTitle {
  position:absolute;
  font-size: 9em;
  margin-left: 20px;
  top: 30%;
  left: 7%;
}

.subTitle {
  position: absolute;
  font-size: 7em;
  margin-left: 20px;
  top: 50%;
  left: 7%;
}

#container3D canvas {
  width: 50vw; 
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0; 
  pointer-events: none;
}


/* General Main Variables  */
.main {
  position: relative;
  text-align: left;
}

.wrapper .strong {
  position: absolute;
  font-weight: inherit;
  display: flex;
  top: 45%;
  left: 35%;
}

/* Animation for Text Wave CSS Properties: */
.wrapper .space { padding: 0.1em; }

.main .wrapper :is(.in, .out) {
  opacity: 0;
  transform: scaleY(0);
}

.main .strong.active .out {
  opacity: 1;
  transform: scaleY(1);
  animation: textWave 0.2s ease reverse forwards;
}

.main .wrapper .in { animation: textWave 0.2s ease forwards; }

@keyframes textWave {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}


/* About CSS Properties: ====================================================================== */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.aboutContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.aboutContent {
  flex-basis: 50%;
  z-index: 3;
}

.aboutImage {
  flex-basis: 40%; 
  max-width: 500px; 
}

.aboutImage img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  border-radius: 20px;
}

.aboutTitle {
  font-size: 7em;
}

.about .section-text {
  font-size: 1.5em;
}

.about .section-text .em {
  color: var(--white);
  font-weight: var(--fw-400);
  text-decoration: underline;
}

.about .section-title {
  margin-block-end: 35px;
}

.about .section-text {
  font-size: var(--fs-5);
  color: var(--white_a70);
  font-weight: var(--fw-300);
  line-height: 2;
  margin-block-end: 35px;
}

/* Perks Container Styling */
.perks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive layout */
  gap: 10px; /* Space between perks */
  margin-top: 10px;
  align-items: stretch; /* Ensure all items are the same height */
}

/* Individual Perk (Bubble) Styling */
.perk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color, #333);
  color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  min-height: 150px; /* Set a minimum height */
}

/* Font styling for text inside Perks */
.perk h3 {
  font-size: 1.2em; 
}

.perk p {
  font-size: 1.1em;
  line-height: 1.5;
}

/* Experiences Section: ============================================================================================ */
.experiences {
  padding : 20px;
}

.experiencesContainer {
  width: 100%;
  height: auto;
  text-align: center; 
  display: flex;              
  flex-direction: column;     
  align-items: center;
  justify-content: center;
}

.experienceTitle {
  font-size: 4em;
  margin-bottom: 40px;
}

/* Experience Card Container */
.experienceCardContainer {
  width: 90%; 
  display: flex;
  flex-direction: column;
  gap: 40px;
}

  /* Adjust Experience Card Styles */
.experienceCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--eerie-black);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  gap: 15px; 
}

.experienceCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
}

/* Experience Info Styling */
.experienceInfo {
  flex: 1;
  text-align: left;
  padding-right: 15px;
}

/* Position and Duration Styling */
.experiencePosition {
  font-size: 1.8em;
  font-weight: var(--fw-500);
  margin-bottom: 5px;
}

.experienceDuration {
  font-size: 1.2em;
  color: var(--white_a70);
  margin-bottom: 5px;
  display: flex;
  gap: 5px; 
}

.separator {
  margin: 0 5px;
  color: var(--white_a50);
}

.experienceCompany {
  color: var(--white);
  text-decoration: underline;
  transition: color 0.3s;
}

.experienceCompany:hover {
  color: var(--radical-red);
}

/* Bullet Point and Description Styling */
.experienceDescription {
  font-size: 1em;
  color: var(--white_a50);
  line-height: 1.5;
  margin-top: 10px;
}

.descriptionList {
  color: var(--white_a50);
  padding-left: 20px;
  margin-top: 5px;
}

/* Image Styling */
.experienceImage {
  width: 180px; 
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 10px; 
}

/* Projects Section: ============================================================================================ */
.projects {
  padding: 20px;
}

.projectTitle {
  font-size: 4em;
}

.projectContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

/* Skills Section ==================================================================================================== */
.skillsSectionTitle {
  margin-left: 50px;
}

.skillsContainer {
  text-align: center;
  padding: 20px;
}

.skillsTitle {
  font-size: 2em;
  margin-bottom: 10px;
}

.skillsDescription {
  font-size: 2em;
  color: #666;
  height: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-bottom: 3%;
}

.gridWrapper {
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.skillItem {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skillImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.skillItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0 0 8px white;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.skillItem:hover::before {
  opacity: 1;
  transform: scale(1.05);
}

.skillItem:hover {
  transform: scale(1.2);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);

}

/* Footer CSS Properties ========================================================================================================= */
.footer {
  padding: 20px;
}

.contactTitleSection {
  text-align: center;
  margin-bottom: 20px;
}

.contactTitle {
  font-size: 6em;
}

.footer-content {
  display: flex;
  width: 100%;
}

.footer-left {
  flex: 70%;
  /* Assigns 70% of the space */
  padding: 20px;
}

.footer-right {
  flex: 30%;
  /* Assigns 30% of the space */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the content vertically and horizontally */
}

.contactForm {
  display: flex;
  flex-direction: column;
  background-color: rgba(102, 102, 102, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactForm label {
  font-weight: bold;
  margin-top: 10px;
  font-family: var(--ff-recoleta);
}

.contactForm input[type="text"],
.contactForm textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--ff-recoleta);
}

.contactForm textarea {
  height: 120px;
  resize: none;
}

.sendButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #222222;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sendButton:hover {
  background-color: #464646;
}

.miniHeader {
  margin-bottom: 20px;
}

.social-link {
  display: block;
  margin-bottom: 10px;
}

.social-icon {
  width: 120px;
  height: auto;
  transition: transform 0.3s ease;
}

.social-link:hover .social-icon {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}




/* Media Sizes: ============================================================================================ */
/* Media Query for MacBook Screens */
@media screen and (max-width: 1600px) {
  .navbar a {
    font-size: 1.6em;
  }

  .nameTitle {
    font-size: 7.5em;
  }

  .subTitle {
    font-size: 5em;
  }

  #container3D canvas {
    width: 40vw;
    height: 80vh;
    right: 10px;
  }

  /* Adjust About Section */
  .aboutTitle {
    font-size: 4em;
  }

  .aboutContent .section-text {
    font-size: 1.4em;
  }

  .perk {
    min-height: 50px;
  }

  /* Project Section Adjustments */
  .projectCard {
    width: calc(45% - 30px);
    /* Reduce size for MacBook screens */
  }

  /* Adjust Footer Layout */
  .footer-content {
    flex-direction: column;
    /* Stack footer sections */
    align-items: center;
  }

  .footer-left,
  .footer-right {
    width: 100%;
    /* Full width on smaller screens */
    padding: 10px;
  }
}